* {
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -2px transparent;
    border-radius: 0;
    border: none;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 2px;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #555;
}

#workspaces button.visible {
    box-shadow: inset 0 -1px #777777;
    font-weight: 700;
}

#workspaces button.focused {
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
    box-shadow: inset 0 -1px #eb4d4b;
}

#mode {
    font-weight: 700;
    border-bottom: 2px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 7px;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

#battery.critical:not(.charging) {
    border-bottom: 2px solid #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#temperature.critical {
    border-bottom: 2px solid #f53c3c;
}
